@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html,body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Poppins;
    color: #666666;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

/* HEADER PROPERTIES ==================================================== */

.header {}

.header__container {
    display: flex;
    gap: 131px;
    min-height: 152px;
    align-items: center;
    padding: 5px 0px 5px 0px;
    
}

.header__logo {   }

.header__menu {}

.menu {}

.menu__list {
    display: flex;
    gap: 56px;
}

.menu__item {}

.menu__link {
    color: rgba(18,18,18,0.4);
    font-weight: 500;
}

.menu__link:hover{
    color: #f50;
    transition: 0.5s;
}

